@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto&display=swap");

.card {
  max-width: 300px;
  height: auto;
  /* margin-left: 30px; */
  display: flex;
  position: relative;
  display: inline-block;
  transition: transform 1s ease;
}

.poster {
  max-width: 250px;
  height: 400px;
  padding: 10px;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: 15px;
}

.play {
  position: absolute;
  top: 10%;
  left: 5%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  cursor: pointer;
  opacity: 0;
}

.inf-movie:hover .poster,
.play-container:hover .poster {
  transform: scale(1.05);
  opacity: 0.5;
}

.inf-movie {
  display: flex;
  justify-content: center;
}

.inf-movie:hover label {
  opacity: 1;
  transform: translateY(-15%);
  transition: opacity 0.3s, transform 0.3s;
}

.inf-movie:hover .play {
  opacity: 1;
  transform: translateY(-50%);
  transition: opacity 0.3s, transform 0.3s;
}

.title-movie,
.overview-movie {
  position: absolute;
  color: white;
  font-family: "Inter", sans-serif;
  opacity: 0;
}

.title-movie {
  top: 15px;
  left: 35px;
  z-index: 1;
  margin: auto;
  max-width: 250px;
}

.overview-movie {
  bottom: 15px;
  text-align: justify;
  font-size: 1rem;
  max-width: 220px;
}
