.cards{
  margin-top: 10px;
  height: 430px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -webkit-scrollbar: none;
  overflow-y: hidden;
  background-color: #22222273;
}

.cards::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
  height: 10px
}

.cards::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 50px;
}

.cards::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

.cards::-webkit-scrollbar-track {
  background-color: transparent;
}

/* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center; */