.cards {
  margin-top: 10px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container-cards {
  background-color: #22222273;
}

.movie-list {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  font-size: 1.8rem;
}

.movie-list > li {
  padding: 0px 8px;
  cursor: pointer;
}

.container-cards {
  overflow: hidden;
}

.card {
  transition: transform 1s ease;
}
