.details-body-content {
  position: absolute;
  top: 0;
  height: 100%;
  min-width: 100%;
  display: flex;
  background-color: #333333c4;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: row;
}

.details-container-img > img {
  margin-left: 100px;
}

.details-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.details-title,
.details-text-paragraph {
  color: white;
  width: 500px;
}

.details-title {
  font-size: 2rem;
}

.details-text-paragraph {
  font-size: 1rem;
}

.details-content {
  display: flex;
  flex-direction: row;
}

.details-btn-close-modal {
  font-size: 3rem;
  margin-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  cursor: pointer;
}
