.details-body-content {
  position: absolute;
  top: 0;
  height: 100%;
  min-width: 100%;
  display: flex;
  background-color: #333333f2;
  z-index: 100;
}

.details-container-img {
  display: flex;
  align-items: center;
}

.details-container-img > img {
  width: 100%;
  height: 70%;
}

.details-text {
  position: absolute;
  bottom: 21%;
  right: 17%;
  width: 466px;
  background-color: #1010109c;
  /* padding-bottom: 20px; */
  padding: 10px;
}

.details-title,
.details-text-paragraph {
  color: white;
}

.details-title {
  font-size: 2.1rem;
  margin-bottom: 10px;
}

.details-text-paragraph {
  font-size: 1rem;
}

.details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-btn-close-modal {
  font-size: 3rem;
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1550px) {
  .details-text-paragraph {
    text-align: justify;
    margin: 5px;
  }
  .details-text {
    position: initial;
    width: 70%;
  }

  .details-title,
  .details-text-paragraph {
    color: white;
    width: auto;
  }

  .details-btn-close-modal {
    display: none;
  }
}
