@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
}

.main-movie {
  background-color: #333;
  padding-top: 20px;
}

.containerFilmeDestaque > img {
  background-size: cover;
  height: 75dvh;
  object-fit: cover;
  display: flex;
  overflow: hidden;
}

.containerFilmeDestaque > h2 {
  position: absolute;
  font-size: 2.5rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#333, #333);
  padding: 10px;
  margin: 10px;
}

.containerFilmeDestaque {
  display: flex;
  justify-content: center;
  background-color: #333;
  align-items: flex-end;
}

.linkToOtherPage {
  font-size: 1rem;
  text-decoration: underline;
}

.linkToOtherPage > h1 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  margin-left: 20px;
  display: inline;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 30vh;
  padding: 15px;
  justify-content: space-around;
  background: linear-gradient(#222, #222);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  align-items: center;
}

.headerModal > h2 {
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  margin: 15px 30px;
}

.headerModal {
  margin-bottom: 30px;
  display: flex;
}

.inputsName,
.inputsPassword {
  display: flex;
  flex-direction: column;
  color: white;
}

#mainPassword,
#mainNome {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 20px;
  background-color: #d9d9d9;
}

.mainModal {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
}