@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
}

.main-movie {
  background-color: #333;
  padding-top: 20px;
}

.containerFilmeDestaque > img {
  width: 100%;
  background-size: cover;
  height: 75dvh;
  object-fit: cover;
  display: flex;
}

.linkToOtherPage {
  font-size: 1rem;
  text-decoration: underline;
}

.linkToOtherPage > h1 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  margin-left: 20px;
}
