.grid-cards {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 290px 290px 290px 290px 290px 290px 290px;
  gap: 5px;
  align-items: center;
  background-color: #b6b6b673;
  overflow-x: hidden;
}

.grid-cards > .card {
  width: 250px;
}

@media only screen and (max-width: 1950px) {
  .grid-cards {
    grid-template-columns: 290px 290px 290px 290px 290px 290px;
  }
}

@media only screen and (max-width: 1750px) {
  .grid-cards {
    grid-template-columns: 290px 290px 290px 290px 290px;
  }
}

@media only screen and (max-width: 1450px) {
  .grid-cards {
    grid-template-columns: 290px 290px 290px 290px;
  }
}
@media only screen and (max-width: 1150px) {
  .grid-cards {
    grid-template-columns: 290px 290px 290px;
  }
}
@media only screen and (max-width: 850px) {
  .grid-cards {
    grid-template-columns: 290px 290px;
  }
}
@media only screen and (max-width: 550px) {
  .grid-cards {
    grid-template-columns: 290px;
  }
}
